<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include partials/_header %>
<h1>TinyApp!</h1>
<h3>Your TinyURLs:</h3>
<% for (shortUrl of urls) { %>
    <li> Origin: <%= urls.longURL %> TinyURL: <%= `http://localhost:8080/u/${ shortUrl }` %>
      <a href="/urls/<%= urls[shortUrl] %>">Edit</a>
      <form method="POST" action="/urls/<%= urls[shortUrl] %>/delete">
        <button type="submit"</button>Delete
      </form>
    </li>
<% } %>
</body>

</html>
