<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include partials/_header %>
<h1>TinyApp!</h1>
<h3>Your TinyURLs:</h3>
<% for (const url in urls) { %>
    <li> Origin: <%= urls[url] %> TinyURL: <%= `http://localhost:8080/u/${url}` %>
      <a href="/urls/<%= url %>">Edit</a>
      <form method="POST" action="/urls/<%= url %>/delete">
        <button type="submit"</button>Delete
      </form>
    </li>
<% } %>
</body>

</html>
